#top-thing {
    display:flex;
    align-items:center;
    flex-direction:column;
    border: 5px solid black;
  

}
.masonry-layout {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 900px;
    flex-wrap: wrap;
  }
  .masonry-layout__panel {
    display: flex;
    width: 50px;
    flex: 1 1 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
  }
  @media (min-width: 806px) {
      .masonry-layout{
          display:flex;
          flex-wrap:wrap;
          background:green;
    
      }
  }